/* 全体に対して---------------------------------- */
div, h2, p{
    font-family: 'Zen Maru Gothic', sans-serif;
  }  


/* モーダル非表示版のメインにページ---------------------------------------------*/

/* ここからheader */
header{

  height: 70px;
}

.group_body{
    background-color:#ddd5c5 ;
}
.header_logo{
  margin-left: 20px;
  padding-top: 30px;
}
/* headerここまで */

/* メインここから */

.container{
    background-color: #ddd5c5;

}
/* ヒーロー部分 ここから*/
.hero_container{
  position: relative;
  margin-top: -70px;
}

.hero_images {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.45;
  transition:  1s ease-in-out; 
}
/* .hero_images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
} */

.hero_catchcopy{
  margin-top: 10%;
  margin-left: 10%;
  border-left: 2px solid black;
}

.hero_catchcopy >h1{
  font-family: "Nico Moji";
  font-size: 11vw;
}

.hero_catchcopy >h2{
  font-family: "Nico Moji";
  font-size: 12vw;
  margin-top: -20%; 
}


.hero_titlebox{
  position: absolute;
  top: 8%;
}

.hero_subtitle_box{
  position: absolute;
  margin-top: -18%;
  margin-left: 65%;
  background-color: white;
  font-size: 3.5vw;
}

.hero_subtitle_bottom{
  color: red;

}

/* .hero_container {
  position: relative;
}

/* .hero_titlebox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
} */

/* ヒーロー部分ここまで */

/* 検索エンジンここから */
.search{
  text-align: center;

  padding-top: 40px;
  max-width: 100vm;
  margin-left: 285px;

}


.search_box{
  width: 300px;
  height: 30px;
}

.search_button{
  height: 35px;
  margin-left: 40px;
  border-radius: 6px;
}

.cancel_button{
  height: 35px;
  margin-left: 5px;
  border-radius: 6px;
}

#searchButton {
  background-color: #D8E2F3; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#searchButton:hover {
  background-color: #3B5998; 
  color: #FFF; 
}


#cancelButton {
  background-color: #FFE4E1; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#cancelButton:hover {
  background-color: rgb(235, 84, 84); 
  color: #FFF; 
}

/* 検索エンジンここまで */




/* プロフィール ここから*/
.modal_container{
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 80% 20%;
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 100px;
    background: #EFF2F5;
    padding-top: 0px;
    background-image: url(../images/profile_image/stripe.png);
    background-repeat: repeat-x;
    }

.modal_container h2{
    color: #356178;
    text-align: center;
}

.prof_text{
    text-align: center
}

.interview_box{
    grid-column: 1/4;
    padding-left: 5%;
  }
  
  
  .modal_box{
    border: 1px solid black;
  }
  
  /* .status_message_image{
    border: 3px solid black;
    position: relative;
  } */
  
  .prof_name_text{
    font-size: 2em;
  }
  
  .status_message_image {
    border: 3px solid black;
    position: relative;
    /* top: 186px; */
    margin: 0 10%;
  }
  
  .status_message_image:before,
  .status_message_image:after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
  }
  .status_message_image:before{
    top: -40px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    border-width: 0 45px 40px 0;
  }
  .status_message_image:after{
    top: -34px;
    border-style: solid;
    border-color: transparent transparent #EFF2F5 transparent;
    border-width: 0 39px 35px 0;
    z-index: 0;
  }
  
  .status_message_text{
    text-align: center;
  }
  
  .modal_prof_picture_image {
    width: 80%;
    height: 200px;
    object-fit: cover;
    position: relative;
    margin: 10%;
  }
  
  .modal_prof_box{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10% 10% 0 0;
  }

  .modal_prof_box > ul{
    list-style-type: none;
  }
  
  
  .sns_icon_image {
    width: 48px;
    margin:67px 8px; 
  }
  
  /* プロフィール ここまで*/











/* サイドバー */
.side_nav {
    background: #356178;
    width: 340px;
    /* 高さは再度調整すべき */
    height: 100vh;
    text-align: center;
    position: fixed;
    left: 0px;
    top: 0px;
    color: #eee;

    display: none;

    } 


.side_nav a{
    color: #eee;
    text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #animated-text {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
} */


/* フッターここから */
footer{
  height: 100px;
  background-color: #ddd5c5;
}

/* フッターここまで */


    /* モーダルウィンドウ ここから*/
  
.first_modal_container{
    margin: 5% 0;
    position: relative;
    grid-template-rows: 85% 15%;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 40px;
    height: 70%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-open{
    overflow: hidden;
  }
    /* body.open_popup {
        overflow: hidden;
    }
    
    .bg_onetime_popup {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    
    body.open_popup .bg_onetime_popup {
        opacity: 1;
        visibility: visible;
    }
    
    .onetime_popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        min-width: 500px;
        background-color: #fff;
    }
    
    .onetime_popup_title {
        position: relative;
        padding: 1em 80px;
        margin: 0px;
        background-color: #3388dd;
        color: #fff;
        font-size: 32px;
        text-align: center;
        line-height: 1.5;
    }
    
    .onetime_popup_title_close {
        position: absolute;
        top: 50%;
        right: 30px;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .onetime_popup_title_close::before,
    .onetime_popup_title_close::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 4px;
        background-color: #fff;
        content: "";
    }
    .onetime_popup_title_close::before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    .onetime_popup_title_close::after {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    
    .onetime_popup_content {
        padding: 60px 30px;
        text-align: center;
    }
    */
    
    /* モーダルウィンドウ ここまで*/
    
    
    
/* メインここまで */

/* グループページ-------------------------------------------- */


.group_name {
    background-color: #356178 !important;
    color: #fff;
    text-align: center;
    line-height: 74px;
    background-image: url(../images/profile_image/stripe.png);
    background-repeat: repeat-x;
    margin-left: x;
}

.group_total {
    line-height: 45px;
}

.group_total {
    text-align: center;
    
    background-image: url(../images/profile_image/stripe.png);
    background-repeat: repeat-x;
   display: flex;
}
.group_list_title{
margin-left: 400px;
margin-top: 4%;
}

.group_list_title > h2>span{
    font-size: 40px;
    border-bottom: 2px solid #333;
}

.group_image{


    width: 50%;
    height: 125px;

    object-fit: cover;
    border-bottom: 1px solid #333;
  }
  
.group_img_box_top{
    display: flex;
}

  .group_image_box{
    display: flex;
    border-bottom: 1px solid #333;
  }
  .group_wrapper{
    display: grid;
    margin-left: 300px;
    margin-right: 5%;
  }
  
  /* .group{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20% 60%;
  } */
  
  
  /* 
  .group {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20% 60%;
    margin-left: 20px;
    margin-top: 168px;
  }
   */
  
  .group {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20% 32%;
    margin-left: 145px;
    margin-top: 60px;
    margin-right: 0px;
    
  }

  .line_img_box{
    margin-top: 18px;
    margin-left: 8px;
  }
  .line_img{
    width: 40px;
}
  
  /* .group_sns_icon{
    height: 137.5px;
  } */
  
  .group_box{
    border: 1px solid black;
    background-color: #EFF2F5;
  }
  
  .group_article{
    grid-row: 2/4;
    height: 250px;
  }

  .group_total_text{
    text-align: center;
    margin-left: 20%;
  }

  /* メニュー */
.menu{
    display: none;
    position: fixed;
    z-index: 99;
    top: 60px;
    left: 20px;
}


  .search_2{
    margin-top: 30px;
  }
  
  .search_box_2{
    width: 80%;
    height: 30px;
  }
  
  .event-barner{
    margin-top: 60px;
    height: 400px;
  }
  
  .side_nav_group-1{
    padding-top: 70px;
  }
  
  .side_nav_group-2{
    padding-top:60px;
  }
  
  
  .side_nav_group-1>span{
    border-bottom: 3px solid #333;
  }
  
  .side_nav_group-2>span{
    border-bottom: 3px solid #333;
  }
  
  .menu_image{
    width: 64px;
}
.menu_active{
    display: block;
}

.active{
    display: block;
}


/* レスポンシブ -------------------------------------*/
/* 768 x 1366 */

@media screen and (max-width: 868px){

    /* メインページ ----------------------------------*/
      .side_nav{
        display: none;
      }
      .search{
        width: 200%;
        text-align: left;
        margin-left: 10px;
      }
      input{
        padding: 1%;
        }
.group_wrapper{
            display: grid;
            margin-left: -5%;
            margin-top: 5%;
        }

        .group_list_title{
            margin-left: 20%;
        .modal_container{
            margin: 100px 5%;
        }
        .first_modal_container{
            margin: 5% 0;
        }
        .search_box{
            width: 90%;
        }
        .search_button{
            width: 40%;
        }
        .cancel_button{
            width: 40%;
        }
        .button{
            text-align: center;
                display: flex;
        }
        .side_nav{
            width: 100%;
        }
        .side_nav_group-2 {
            padding-top: 0;
        }
        .event-barner {
            margin-top: 0;
            height: 300px;
        }
        .menu{
            display: none;
            position: fixed;
            z-index: 99;
            top: 20px;
            right: 20px;
        }
        .menu_image{
            width: 64px;
        }
        .menu_active{
            display: block;
        }
        .active{
            display: block;

        }

        .group {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 20% 32%;
            margin-left: 10%;
            margin-top: 60px;
            margin-right: 0px;
    }

