
/* ここからheader */
header{
    height: 70px;
}

/* メイン画面　アニメーション */
/* #animated-text {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
} */

.side_nav--large{
  display: block;
}

.side_nav--small{
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header_logo{
  margin-left: 20px;
  padding-top: 30px;
}
.hero_container{
  position: relative;
  margin-top: -70px;
}

.hero_images {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.45;
  transition:  1s ease-in-out; 
}
.hero_catchcopy{
  margin-top: 10%;
  margin-left: 10%;
  border-left: 2px solid black;
}

.hero_catchcopy >h1{
  font-family: "Nico Moji";
  font-size: 11vw;
}

.hero_catchcopy >h2{
  font-family: "Nico Moji";
  font-size: 12vw;
  margin-top: -20%; 
}


.hero_titlebox{
  position: absolute;
  top: 8%;
}

.hero_subtitle_box{
  position: absolute;
  margin-top: -18%;
  margin-left: 65%;
  background-color: white;
  font-size: 3.5vw;
}

.hero_subtitle_bottom{
  color: red;

}


/* ヒーロー部分ここまで */

.search{
  text-align: center;
  margin-left: 285px;
  padding-top: 40px;
}

.search_box{
  width: 300px;
  height: 30px;
}

.search_button{
  height: 35px;
  margin-left: 40px;
  border-radius: 6px;
}

.cancel_button{
  height: 35px;
  margin-left: 5px;
  border-radius: 6px;
}

.modal_prof_box > ul{
  list-style-type: none;
}

#searchButton {
  background-color: #D8E2F3; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#searchButton:hover {
  background-color: #3B5998; 
  color: #FFF; 
}


#cancelButton {
  background-color: #FFE4E1; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#cancelButton:hover {
  background-color: rgb(235, 84, 84); 
  color: #FFF; 
}


/* モーダル */
/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


.modal_content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-open{
  overflow: hidden;
}







/* .hero_container {
  position: relative;
}

.hero_images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero_images.active {
  opacity: 1;
} */

/* オプション */
/* .hero_titlebox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
} */


footer{
  height: 100px;
  background-color: #ddd5c5;
}

.search_2{
  margin-top: 30px;
}

.search_box_2{
  width: 80%;
  height: 30px;
}

.event-barner{
  margin-top: 60px;
  height: 400px;
}

.side_nav_group-1{
  padding-top: 70px;
}

.side_nav_group-2{
  padding-top:60px;
}


.side_nav_group-1>span{
  border-bottom: 3px solid #333;
}

.side_nav_group-2>span{
  border-bottom: 3px solid #333;
}

