/* ここからheader */
header{
    height: 70px;
}

.header_logo{
  margin-left: 20px;
  padding-top: 30px;
}
.hero_container{
  text-align: center;
  position: relative;
  margin-top: -70px;
}
  
.hero_catchcopy >h1{
  font-family: "Nico Moji";
  font-size: 200px;
}

.hero_catchcopy >h2{
  font-family: "Nico Moji";
  font-size: 200px;
  margin-top: -100px;
}
  .hero_images {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.45;
    transition:  1s ease-in-out;
}

.hero_titlebox{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search{
  text-align: center;
  margin-top: 40px;
}

.search_box{
  width: 300px;
  height: 30px;
}

.search_button{
  height: 35px;
  margin-left: 40px;
  border-radius: 6px;
}

.cancel_button{
  height: 35px;
  margin-left: 5px;
  border-radius: 6px;
}

.modal_prof_box > ul{
  list-style-type: none;
}

#searchButton {
  background-color: #D8E2F3; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#searchButton:hover {
  background-color: #3B5998; 
  color: #FFF; 
}


#cancelButton {
  background-color: #FFE4E1; 
  color: #333; 
  padding: 5px 20px; 
  font-size: 16px; 
  cursor: pointer; 
}

#cancelButton:hover {
  background-color: rgb(235, 84, 84); 
  color: #FFF; 
}


/* モーダル */
/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-open{
  overflow: hidden;
}







/* .hero_container {
  position: relative;
}

.hero_images {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero_images.active {
  opacity: 1;
} */

/* オプション */
/* .hero_titlebox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
} */



