/* ここからheader */
header{
    height: 70px;
}

.header_logo{
  margin-left: 20px;
  padding-top: 30px;
}
.hero_container{
  text-align: center;
  position: relative;
  margin-top: -70px;
}
  
.hero_catchcopy >h1{
  font-family: "Nico Moji";
  font-size: 200px;
}

.hero_catchcopy >h2{
  font-family: "Nico Moji";
  font-size: 200px;
  margin-top: -100px;
}
  .hero_images {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
  }

.hero_titlebox{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}