/* ここからメインページ */

.modal_container{
  display: grid;
  grid-template-columns: 40% 50% 8%;
  grid-template-rows: 100% 20%;
  margin-left: 30%;
  margin-top: 100px;
  background: #EFF2F5;
}

.interview_box{
  grid-column: 1/4;
}


.modal_box{
  border: 1px solid black;
}

/* .status_message_image{
  border: 3px solid black;
  position: relative;
} */

.status_message_image {
  border: 3px solid black;
  position: relative;
  top: 186px;
}

.status_message_image:before,
.status_message_image:after{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
}
.status_message_image:before{
  top: -40px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0 45px 40px 0;
}
.status_message_image:after{
  top: -34px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 0 39px 35px 0;
  z-index: 10;
}

.modal_prof_picture_image {
  width: 214px;
  height: 128px;
  object-fit: cover;
  /* width: 100%; */
  position: relative;
  top: 155px;
  left: 46px;
  /* justify-content: center; */
}



.sns_icon_image {
  width: 48px;
  margin:67px 8px; 
}

/* ここからグループページ */
.group_image{
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.group_wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}

.group{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 20% 60%;
}

.group_box{
  border: 1px solid black;
}

.group_article{
  grid-row: 2/4;
}