/* ここからメインページ */

.modal_container{
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 80% 20%;
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 100px;
  background: #EFF2F5;
  padding-top: 0px;
  background-image: url(../images/profile_image/stripe.png);
  background-repeat: repeat-x;
}

div{
  font-family: 'Zen Maru Gothic', sans-serif;
}




.interview_box{
  grid-column: 1/4;
  padding-left: 5%;
}


.modal_box{
  border: 1px solid black;
}

/* .status_message_image{
  border: 3px solid black;
  position: relative;
} */

.prof_name_text{
  font-size: 2em;
}

.status_message_image {
  border: 3px solid black;
  position: relative;
  /* top: 186px; */
  margin: 0 10%;
}

.status_message_image:before,
.status_message_image:after{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
}
.status_message_image:before{
  top: -40px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0 45px 40px 0;
}
.status_message_image:after{
  top: -34px;
  border-style: solid;
  border-color: transparent transparent #EFF2F5 transparent;
  border-width: 0 39px 35px 0;
  z-index: 0;
}

.status_message_text{
  text-align: center;
}

.modal_prof_picture_image {
  width: 80%;
  height: 200px;
  object-fit: cover;
  position: relative;
  margin: 10%;
}

.modal_prof_box{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10% 10% 0 0;
}

.sns_icon_image {
  width: 48px;
  margin:67px 8px; 
}

.first_modal_container{
  margin: 5% 0;
  position: relative;
  grid-template-rows: 85% 15%;
}


/* ここからグループページ */
.group_image{
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.group_wrapper{
  display: grid;
  /* grid-template-columns: 50% 50%; */
  margin-left: 30%;
    margin-right: 10%;
}

/* .group{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 20% 60%;
} */


/* 
.group {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 20% 60%;
  margin-left: 20px;
  margin-top: 168px;
}
 */

.group {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 20% 32%;
  margin-left: 74px;
  margin-top: 168px;
  margin-right: 0px;
}




.group_box{
  border: 1px solid black;
  background-color: #EFF2F5;
}

.group_article{
  grid-row: 2/4;
}


